<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5">

    <display-name>Gupao Web Application</display-name>


    <!-- 定义DispatcherServlet服务 -->
    <servlet>
        <servlet-name>gpMvc</servlet-name>
        <servlet-class>com.gupaoedu.mvcframework.servlet.GPDispacherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:application.properties</param-value>
        </init-param>
        <!-- 启动时加载 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- 定义的Servlet, 拦截所有请求 -->
    <servlet-mapping>
        <servlet-name>gpMvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>